$font: 'Monda', sans-serif;

$primary-color: #dab806;
$secondary-color: #414142;
$search-color: #f5f5f5;
$table-background-primary: #f0f0f0;
$table-background-secondary: #ebebeb;
$accent-color1: #00b734;
$accent-color2: #ff0000;
$accent-color3: #b1b1b1;
