.slider {
    margin: 0.5rem 0;
}

.search__title {
    color: $primary-color;
}

.sliders {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4rem;
}

@media only screen and (max-width: 1000px) {
    .sliders {
        grid-template-columns: 1fr;
    }
}

.slider-container {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.slider__label {
    margin-top: 1rem;
    transform: translateX(-8px);
}

.slider__value-label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.search__options {
    margin-top: 1.5rem;

    input[type="checkbox"] {
        margin: 0;
        padding: 0;
        transform: translateY(3px);
        appearance: none;
        -webkit-appearance: none;
        border-radius: 2rem;
        width: 1.2rem;
        height: 1.2rem;
        background: white;
        border: 2px solid $primary-color;
        outline: none;
        cursor: pointer;
    }

    input[type="checkbox"]:checked {
        background: $primary-color;
    }

    .checkbox {
        display: inline-block;
    }

    .checkbox:first-of-type {
        margin-right: 2rem;
    }
}
