<section class="hero-block">
	<div class="container">
		<div class="buttons">
			<button class="buttons__item buttons__item--border">
				<a href="#" class="buttons__item__link">
					Wyszukiwarka graficzna
				</a>
			</button>
			<button class="buttons__item buttons__item--gold">
				<a href="#" class="buttons__item__link">
					Wyszukiwarka zaawansowana
				</a>
			</button>
			<button class="buttons__item buttons__item--border">
				<a href="#" class="buttons__item__link">
					Promocje
				</a>
			</button>
		</div>
	</div>
</section>