<section class="section">
    <div class="container">
        {# <span class="side-line"></span> #}
        <h2 class="search__title">Wybierz parametry wyszukiwania</h2>
        <div class="sliders">
            <div class="slider-container">
                <label class="slider__label">Powierzchnia (m&sup2;)</label>
                <div class="slider"></div>
                <div class="slider__value-label">
                    <label class="slider__value-label--min"></label>
                    <label class="slider__value-label--max"></label>
                </div>

            </div>
            <div class="slider-container">
                <label class="slider__label">Zakres cenowy (zł)</label>
                <div class="slider"></div>
                <div class="slider__value-label">
                    <label class="slider__value-label--min"></label>
                    <label class="slider__value-label--max"></label>
                </div>
            </div>
            <div class="slider-container">
                <label class="slider__label">Ilość pomieszczeń</label>
                <div class="slider"></div>
                <div class="slider__value-label">
                    <label class="slider__value-label--min"></label>
                    <label class="slider__value-label--max"></label>
                </div>
            </div>
        </div>

        <div class="search__info">
            <div class="search__label">
                <span class="search__circle"></span>Wolne
                <span>(24)</span>
            </div>
            <div class="search__label">
                <span class="search__circle search__circle--empty"></span>Promocja
                <span>(9)</span>
            </div>
        </div>

    </div>

</section>