<section class="section">
    <div class="container">
        {# <span class="side-line"></span> #}
        <h2 class="search__title title">Wybierz parametry wyszukiwania</h2>
        <div class="sliders">
            <div class="slider-container" data-slider="powierzchnia" data-min="25" data-max="160" data-mindefault="25" data-maxdefault="120" data-step="1">
                <label class="slider__label">Powierzchnia (m&sup2;)</label>
                <div class="slider"></div>
                <div class="slider__value-label">
                    <label class="slider__value-label--min" data-value-min="data-value-min"></label>
                    <label class="slider__value-label--max" data-value-max="data-value-max"></label>
                </div>
            </div>
            <div class="slider-container" data-slider="price" data-min="190000" data-max="600000" data-mindefault="190000" data-maxdefault="250000" data-step="10000">
                <label class="slider__label">Zakres cenowy (zł)</label>
                <div class="slider"></div>
                <div class="slider__value-label">
                    <label class="slider__value-label--min" data-value-min="data-value-min"></label>
                    <label class="slider__value-label--max" data-value-max="data-value-max"></label>
                </div>
            </div>
            <div class="slider-container" data-slider="pomieszczenia" data-min="1" data-max="4" data-mindefault="1" data-maxdefault="3" data-step="1">
                <label class="slider__label">Ilość pomieszczeń</label>
                <div class="slider"></div>
                <div class="slider__value-label">
                    <label class="slider__value-label--min" data-value-min="data-value-min"></label>
                    <label class="slider__value-label--max" data-value-max="data-value-max"></label>
                </div>
            </div>
        </div>
        <div class="search__options">
            <div class="checkbox">
                <input type="checkbox">
                <label class="label">Wolne
                    <span class="label--highlited">(24)</span>
                </label>
            </div>
            <div class="checkbox">
                <input type="checkbox">
                <label class="label">Promocja
                    <span class="label--highlighted">(09)</span>
                </label>
            </div>
        </div>
    </div>
</section>