<table class="table">
    <tr>
        <th>numer</th>
        <th>powierzchnia</th>
        <th>pokoje</th>
        <th>piętro</th>
        <th>status</th>
        <th>cena</th>
        <th>karta</th>
        <th>dodaj do koszyka</th>
    </tr>
    {% include './table-element.html.twig' with {numer: '123', powierzchnia: 25, pokoje: 2, pietro: 'parter', status: 'wolne', cena: 250000} %}
    {% include './table-element.html.twig' with {numer: '123', powierzchnia: 25, pokoje: 2, pietro: 'parter', status: 'wolne', cena: 250000} %}
    {% include './table-element.html.twig' with {numer: '123', powierzchnia: 25, pokoje: 2, pietro: 'parter', status: 'wolne', cena: 250000} %}
    {% include './table-element.html.twig' with {numer: '123', powierzchnia: 25, pokoje: 2, pietro: 'parter', status: 'wolne', cena: 250000} %}
    {% include './table-element.html.twig' with {numer: '123', powierzchnia: 25, pokoje: 2, pietro: 'parter', status: 'wolne', cena: 250000} %}
    {% include './table-element.html.twig' with {numer: '123', powierzchnia: 25, pokoje: 2, pietro: 'parter', status: 'wolne', cena: 250000} %}
    {% include './table-element.html.twig' with {numer: '123', powierzchnia: 25, pokoje: 2, pietro: 'parter', status: 'wolne', cena: 250000} %}
    {% include './table-element.html.twig' with {numer: '123', powierzchnia: 25, pokoje: 2, pietro: 'parter', status: 'wolne', cena: 250000} %}
    {% include './table-element.html.twig' with {numer: '123', powierzchnia: 25, pokoje: 2, pietro: 'parter', status: 'wolne', cena: 250000} %}
    {% include './table-element.html.twig' with {numer: '123', powierzchnia: 25, pokoje: 2, pietro: 'parter', status: 'rezerwacja', cena: 250000} %}
    {% include './table-element.html.twig' with {numer: '123', powierzchnia: 25, pokoje: 2, pietro: 'parter', status: 'rezerwacja', cena: 250000} %}
    {% include './table-element.html.twig' with {numer: '123', powierzchnia: 25, pokoje: 2, pietro: 'parter', status: 'rezerwacja', cena: 250000} %}
</table>