.ui-slider-handle {
    background: $primary-color;
    border-radius: 5rem;
    // transform: translateY(2px);
}

.ui-slider-handle:focus {
    outline: none;
}

.ui-slider {
    background: #ccc;
    height: 0.5rem;
}

.ui-slider-range {
    background: $primary-color;
}