<header class="header-block">
	<div class="container">
		<nav class="header-block__nav">
			<a href="#" class="nav__logo">
				<img src="assets/images/oliwkowe_apartamenty_logo_final-01.svg" class="">
			</a>
			<ul class="nav__list">
				<li class="list__item">
					<a href="#" class="list__link">
						Osiedle
					</a>
				</li>
				<li class="list__item">
					<a href="#" class="list__link">
						Znajdź mieszkanie
					</a>
				</li>
				<li class="list__item">
					<a href="#" class="list__link">
						Galeria
					</a>
				</li>
				<li class="list__item">
					<a href="#" class="list__link">
						Deweloper
					</a>
				</li>
				<li class="list__item">
					<a href="#" class="list__link">
						Finansowanie
					</a>
				</li>
				<li class="list__item">
					<a href="#" class="list__link">
						Wykończenia pod klucz
					</a>
				</li>
				<li class="list__item">
					<a href="#" class="list__link">
						Kontakt
					</a>
				</li>
				<li class="list__item">
					<a href="#" class="list__link">
						<img src="assets/images/oliwkowe-basket-button.svg" class="list__link__icon">
					</a>
				</li>
			</ul>
		</nav>
	</div>
</header>